<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="/dashboard">Dashboard</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <div class="nav-item dropdown card-body float-left">
                <label for="filtering">Filter Registered-users</label>
                <input type="text" class="date-picker-user-graph" />
                {{!-- <input type="date" class="end-date-user-graph" /> --}}
            </div>
            <div class="nav-item dropdown card-body float-right">
                <input type="button" class="btn-primary apply-registered-users-statistics" value="Apply"
                    id="registered-users-graph" />
                <input type="button" class="btn-danger clear-user-graph" value="Clear" />
            </div>
        </div>
        <div class="card-body">
            <h4 class="mb-3">Registered User's Statistics</h4>
            <canvas id="user-chart"></canvas>
        </div>
    </div>
</div><!-- /# column -->

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <div class="nav-item dropdown card-body float-left">
                <label for="filtering">Filter Approved Withdrawal Requests</label>
                <input type="text" class="date-picker-approved-request-graph" />
                {{!-- <input type="date" class="end-date-user-graph" /> --}}
            </div>
            <div class="nav-item dropdown card-body float-right">
                <input type="button" class="btn-primary apply-approved-request-statistics" value="Apply"
                    id="registered-users-graph" />
                <input type="button" class="btn-danger clear-approved-request-graph" value="Clear" />
            </div>
        </div>
        <div class="card-body">
            <h4 class="mb-3">Approved Withdrawal Request's Statistics</h4>
            <canvas id="approved-request-chart"></canvas>
        </div>
    </div>
</div><!-- /# column -->
<script src="/javascripts/admin/dashboard.js"></script>