<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <script src="/javascripts/toastr.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <link rel="stylesheet" href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/googleapis.css">
    <link rel="stylesheet" href="/stylesheets/toastr.css" />
    <style>
        form .error {
            color: red
        }
    </style>
</head>

<body class="bg-dark">
    {{{body}}}
    <script src="/assets/js/jquery-validation.js"></script>
    <script src="/assets/js/jquery-additional-methods.js"></script>
    <script src="/assets/js/bootstrap-bundle.js"></script>
    <script src="/assets/js/popper.js"></script>
</body>

</html>