<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  {{> meta}}
</head>

<body>
  {{#compare user.role "==" "admin"}}
  {{> admin-panel}}
  {{/compare}}

  {{#compare user.role "==" "user"}}
  {{> user-panel}}
  {{/compare}}

  <div id="right-panel" class="right-panel">
    {{> header}}
    {{{body}}}
  </div>

  {{> script}}
  <script src="/javascripts/mainScript.js"></script>
</body>

</html>