<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-form">
                <h2 class="h2 text-center mb-4">Photo Gallery Affiliate Marketing</h2>
                <form id="registration-form">
                    <h3 class="text-center mb-1">Create new account</h2><br>

                        <div class="form-group">
                            <label class="form-label">First Name:-<sup class="text-danger">*</sup></label><b>
                                <input type="text" class="form-control" placeholder="First Name" name="fname"
                                    id="register-fname">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Last Name:-<sup class="text-danger">*</sup></label>
                            <input type="text" class="form-control" placeholder="Last Name" name="lname"
                                id="register-lname">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email address:-<sup class="text-danger">*</sup></label>
                            <input type="email" class="form-control" placeholder="Enter Email" name="email"
                                id="register-email">
                        </div>

                        <div class="form-group">
                            <label class="form-label">Gender:-<sup class="text-danger">*</sup></label><br>
                            <input type="radio" id="male" name="gender" value="male">
                            <label for="male">Male</label><br>
                            <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Female</label><br>
                            <label id="gender-error"></label>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Mobile Number:-<sup class="text-danger">*</sup></label>
                            <input type="text" class="form-control" placeholder="Enter Your Contact Number"
                                name="contactNumber" id="contactNumber" maxlength="10">
                            <label id="contact-error"></label>
                        </div>


                        <div class="form-group">
                            <label class="form-label">Password:-<sup class="text-danger">*</sup></label>
                            <input type="password" class="form-control" placeholder="Enter Password" name="pswd"
                                id="register-password" minlength="8" maxlength="12">
                        </div>

                        <div class="form-group">
                            <label class="form-label">Confirm Password:-<sup class="text-danger">*</sup></label>
                            <input type="password" class="form-control" placeholder="Confirm Password"
                                name="confirm-pswd" id="confirm-pswd" minlength="8">
                        </div>

                        <div class="form-group">
                            <label class="form-label">Referral Link:-</label>
                            <input type="text" class="form-control" placeholder="Referral link" name="referral-link"
                                id="referral-link">
                        </div>

                        <button type="submit" id="btn-submit" name="register"
                            class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>

                        <div class="mt-1 register-link m-t-15 text-center">
                            <p>Already have account ? <a href="/"> Sign in</a></p>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/user/sign-up.js"></script>