<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/gallery">Gallery</a></li>

                </ol>
            </div>
        </div>
    </div>
</div>
<div class="text-right mr-2">
    <a href="/gallery/upload-image"><button type="button" class="btn btn-primary upload-image" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            Upload Image
        </button></a>
</div>
{{!--
<script src="/javascripts/user/index.js"></script> --}}