<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="/dashboard">Dashboard</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<h2 class="ml-1">Refer Link<br>
    <input type="text" class="w-50 referral-link" value="http://localhost:3000/sign-up?referral={{user.referLink}}"
        readonly />
    <input type="button" value="Copy Link" class="mt-1 btn-primary copy-referral-link" />
</h2>

<script src="/javascripts/user/index.js"></script>